:root {
  --clr-primary: rgba(14, 92, 165, 1);
  --clr-secondary: rgba(242, 136, 244, 1);
  --clr-success: rgba(0, 203, 179, 1);
  --clr-warning: rgba(242, 189, 25, 1);
  --clr-danger: rgba(235, 87, 87, 1);
  --clr-dark: rgba(247, 247, 247, 1);
  --clr-light: rgba(247, 247, 247, 1);

  --ff-base: "Mulish", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3.25rem;
}

html, body, p, h1 { 
  margin: 0
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-300);
    background-color: var(--clr-light);
}

.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  padding: 48 15;
}

header {
  padding-top: 48px;
}

main {
  width: 345px;
  height: 394px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

.main-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-top__text--primary {
  font-size: var(--fs-100);
  color: var(--clr-primary)
}

.main-bottom {
  display: flex;
  flex-direction: column;

  gap: 24px
}

.input-container {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.input-boxies {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.input-box {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.input-box input {
  padding: 12 16;
  border-radius: 8px;
  border: none;

}

.input-box input:focus {
  outline: 1px solid var(--clr-primary)
}

.main-top__forgot-password--warning {
  color: var(--clr-warning);
  font-size: var(--fs-100);
  text-align: center;
}

.main-bottom__button--login {
  padding: 11;
  background-color: var(--clr-primary);
  color: white;
  border-radius: 4px;
}

.main-bottom__text--sing-up {
  text-align: center;
  color: var(--clr-primary);
  font-size: var(--fs-100);
}