.main-container {
  width: 345px;
  padding-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer div img {
  width: 66px;
  height: 71px;
}

.footer__home {
  /* border-top: 2px solid var(--clr-primary); */
}