body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 345px;
  padding-top: 19px;

  display: flex;
  flex-direction: column;
  gap: 19px;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.profile-user {
  display: flex;
  gap: 12px;
}

.profile-user__info--hello {
  font-size: var(--fs-100);
  color: gray
}

.profile-user__info--name {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}

.portfolio-container {
  height: 112px;
  overflow: auto;
  scroll-snap-type: x;

  display: flex;
  align-items: center;
  scrollbar-width: none; /* for firefox */
}

.portfolio-container::-webkit-scrollbar { /* for chrome */
  display: none;
}

.portfolio__slide {
  flex: 0 0 345px;
  scroll-snap-align: start;
}

.user-portfolio {
  height: 100%;
  border-radius: 10px;
  background: var(--clr-primary);
  background-image: url("../../../portfolio_wave.svg");
  color: var(--clr-light);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.total-portfolio__text {
  font-weight: var(--fw-semi-bold);
}

.total-portfolio__total {
  font-size: 2rem;
  font-weight: var(--fw-bold);
}

.user-portfolio__percentage {
  display: flex;
  gap: 4px;
  padding: 8px;
  border-radius: 8px;
  background: var(--clr-light);
}

.user-portfolio__percentage--text {
  color: var(--clr-primary);
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
}

.balance {
  height: 112px;
  border-radius: 10px;
  background-image: url("../../../balnace_circle.svg");
  background-color: white;
  padding: 0 2rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance__button--add {
  border-radius: 8px;
  padding: 8px;
  border: none;;
  background: var(--clr-primary);
  color: white;
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
}

.slide-wrapper {
  width: 345px;
  height: 100%;

  display: flex;
}

.text-area {
  display: flex;
  justify-content: space-between;
}

.text-area__assets {
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-200);
}

.text-area__view-all {
  color: var(--clr-primary);
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
}

.assets {
  height: 119px;
  overflow-x: auto;

  display: flex;
  gap: 16px;
}

.assets::-webkit-scrollbar {
  display: none;
}

.assets__card {
  background: white;
  border-radius: 10px;
  padding: 16px;

  flex: 0 0 191px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.assets__card--coin-info {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.coin-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.coin-info__img {
  background: var(--clr-light);
  width: 40px;
  height: 40px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.coin-info__img img {
  width: 28px;
  height: 28px;
}

.coin-info__name--short {
  font-weight: var(--fw-bold);
}

.coin-info__name--full{
  font-size: 0.625rem;
  color: gray;
}

.coin-info__percentage {
  background-color: var(--clr-primary);
  border-radius: 8px;
  padding: 4px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.coin-info__percentage--text {
  color: white;
  font-weight: var(--fw-bold);
  font-size: 0.625rem;
}

.assets-my-portfolio__text {
  color: gray;
  font-size: 0.625rem;
}

.assets-my-portfolio {
  display: flex;
  justify-content: space-between;
}

.assets-my-portfolio__dollar {
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
}

.assets_my-portfolio__coin {
  font-size: 0.625rem;
}

.assets hr {
  margin: 0
}

.main-container__watch-list--text {
  font-size: var(--fs-200);
  font-weight: var(--fw-semi-bold);
}

.watch-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.watch-list-card {
  padding: 12 16;
  border-radius: 10px;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.watch-list-card__coin-info {
  display: flex;
  gap: 16px;
}

.watch-list-card__coin-info--img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  background-color: #F7F7F7;

  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-list-card__coin-info--img--name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.card-info-name__short {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}

.card-info-name__full {
  font-weight: var(--fw-regular);
  color: gray;
}

.watch-list-card__coin-price {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4px;
}

.watch-list-card__coin-price--text {
  font-weight: var(--fw-bold);
}

.watch-list-card__coin-price .coin-info__percentage {
  width: 54px;

  display: flex;
}

.footer {
  width: 345px;
  background: white;
  position: fixed;
  bottom: 0;

  display: flex;
}

.footer > * {
  flex: 1
}

.footer__home {
  padding: 16 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.footer__market {
  padding: 16 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.footer__profile {
  padding: 16 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.footer img {
  width: 19px;
  height: 20px;
}