body {
    min-height: 100vh;
}
  
.main-container {
    flex-grow: 1;
    min-height: auto;
}  

.notification-setting {
    padding: 16px;
    border-radius: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.notification-setting__heading {
    font-weight: var(--fw-bold);
}

.notification-setting__horizon {
    border-top: 1px solid gray;
}

.setting {
    padding: 12 16;

    display: flex;
    justify-content: space-between;
}

.setting__text {
    font-weight: var(--fw-semi-bold);
}

.c-switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-switch {
    display: none;
}

.c-switch__label {
    width: 32px;
    height: 19px;
    border-radius: 63px;
    background-color: #BEBEBE;

    display: flex;
    align-items: center;
}

.c-switch__label::before {
    content: '';
    width: 18px;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

.c-switch:checked + .c-switch__label {
  background-color: var(--clr-primary);
}

.c-switch:checked + .c-switch__label::before {
  transform: translateX(14px);
}