body {
    min-height: 100vh;
}
  
.main-container {
    flex-grow: 1;
    min-height: auto;
} 

/* total portfolio */
.portfolio-container {
    height: 112px;
    overflow: auto;
    scroll-snap-type: x;

    display: flex;
    align-items: center;
    scrollbar-width: none; /* for firefox */
}

.portfolio-container::-webkit-scrollbar { /* for chrome */
    display: none;
}

.portfolio__slide {
    flex: 0 0 345px;
    scroll-snap-align: start;
}

.user-portfolio {
    height: 100%;
    border-radius: 10px;
    background: var(--clr-primary);
    background-image: url("../../../portfolio_wave.svg");
    color: var(--clr-light);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.total-portfolio {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.total-portfolio__text {
    font-weight: var(--fw-semi-bold);
}

.total-portfolio__total {
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

.user-portfolio__percentage {
    display: flex;
    gap: 4px;
    padding: 8px;
    border-radius: 8px;
    background: var(--clr-light);
}

.user-portfolio__percentage--text {
    color: var(--clr-primary);
    font-size: var(--fs-100);
    font-weight: var(--fw-bold);
}

.total-portfolio__bottom {
    font-weight: var(--fw-semi-bold);
}

.total-portfolio__bottom--bold {
    font-weight: var(--fw-bold);
}

/* portfolio list */
.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card {
    padding: 16px;
    
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.portfolio-top {
    display: flex;
    justify-content: space-between;
}

.symbol-container {
    width: 40px;
    height: 40px;
    background-color: var(--clr-light);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-coin-left {
    display: flex;
    gap: 8px;
    align-items: center;
}

.portfolio-coin-left img {
    width: 24px;
    height: 24px;
}

.text-box__top {
    font-weight: var(--fw-bold);
}

.text-box__bottom {
    font-size: var(--fs-100);
    color: gray;
}

.coin-info__percentage {
    background-color: var(--clr-primary);
    border-radius: 8px;
    padding: 4px;
    height: 22px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
  
.coin-info__percentage--text {
    color: white;
    font-weight: var(--fw-bold);
    font-size: 0.625rem;
}

.portfolio-coin-right {
    display: flex;
    align-items: center;
}

.card__horizon {
    border-top: 1px solid #BEBEBE;
}

.portfolio-card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom__coin {
    font-size: var(--fs-100);
}

.price-box {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.dallor {
    font-weight: var(--fw-bold)
}

.revenue {
    font-size: var(--fs-100);
}